@inherits Microsoft.AspNetCore.Mvc.Razor.RazorPage<TModel>
<!doctype html>
<html lang="en">
@{
    var debug = HostContext.DebugMode;
    var min = debug ? "" : "[hash].min";
}
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - MyApp</title>
    @Html.BundleCss(new BundleOptions {
        Sources = {
            "/lib/css/",
        },
        SaveToDisk = !debug,
        OutputTo = $"/css/lib.bundle{min}.css"
    })

    @Html.BundleCss(new BundleOptions {
        Sources = {
            "/styles/default.css",
        },
        Minify = !debug,
        Cache = !debug,
        SaveToDisk = !debug,
        OutputTo = $"/css/bundle{min}.css"
    })

    @Html.ImportMap(new() {
        ["@popperjs/core"]       = new("/lib/js/popper.js", "https://cdn.jsdelivr.net/npm/@popperjs/core@2/dist/umd/popper.min.js"),
        ["bootstrap"]            = new("/lib/js/bootstrap.mjs", "https://cdn.jsdelivr.net/npm/bootstrap@5/dist/js/bootstrap.esm.min.js"),
        ["vue"]                  = new("/lib/js/vue.mjs", "https://unpkg.com/vue@3/dist/vue.esm-browser.prod.js"),
        ["@servicestack/client"] = new("/lib/js/servicestack-client.mjs", "https://unpkg.com/@servicestack/client/dist/servicestack-client.min.mjs"),
        ["vue-tw"]               = new("/lib/js/vue-tw.mjs", "https://unpkg.com/vue-tw/dist/vue-tw.min.mjs")
    })
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">MyApp</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @Html.Navbar()
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2023 - MyApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
</footer>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>